* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    background-image: url('https://tse2.mm.bing.net/th?id=OIP.J5WUPGRnSPNyDt0vENnjrwHaDn&pid=Api&P=0&h=180');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  header {
    background: #333;
    color: #fff;
    padding: 20px 0;
  }
  
  header h1 {
    margin: 0;
    font-size: 24px;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  section {
    padding: 40px 0;
  }
  
  h2 {
    margin-bottom: 20px;
    color:rgb(251, 255, 0);
  }
  
  .project {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  footer {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  p{
    color: white;
  }
  form{
    color: #f9f9f9;
  }
  .five{
    color: rgb(17, 0, 255);
  }
  .six{
    color: rgb(64, 0, 255);
  }
  nav{
    display: flex;
   margin-left: 650px;
  

  }